/* Body */
body {
  font-family: "Roboto", Arial, Verdana, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

/* Layout */
.container-fluid {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: 1.5rem 3rem;
  background-color: #e8eaf6;
}

.container {
  background-color: #fbfbfb;
}

.footer {
  padding: 1.25rem 0;
  background-color: #e8eaf6;
  text-align: center;
}

/* Typography */
.page-title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

/* Footer */
.footer-text {
  font-size: 1rem;
  font-weight: normal;
  color: #757575;
}
